
<div class="container">
      <div class="row">
      <div class="row show-hide message">
<div [ngClass]="messageclass">
	<div>
		{{message}}
	</div>
</div>
</div>
<!-- Your question and submit activity -->
  <div class="col-xs-12 col-sm-12 col-md-8  " >
<button type="button" id="showbutton" class="btn btn-info btn-lg hide" data-toggle="modal" data-target="#myModal">Open Modal</button>
 <div  class="modal" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><strong>{{test?.title}}</strong></h4>
        </div>
        <div class="modal-body">

<div align="center" *ngIf="loading" class="dizzy-gillespie"></div>
          <p><strong>User</strong>:{{user?.username}}</p>
          <p><strong>email:</strong>{{user?.email}}</p>
          <div class="row">
          <!-- Your question an answer -->
      <div class="col-md-6" align="center"> Your Score<div class="numberCircle">   <span class="number">{{score}}</span></div></div>
   <div class="col-md-6 " align="center">   Your Highest Score <div class="numberCircle"><span class="number">{{lastScore}}</span></div></div>
</div>
<p align="center"><strong>Total question right:<div class="numberCircle"><span class="number">{{totalright}}</span></div></strong></p>
  <strong>Your take {{time?time[2]:0}} hours and {{time?time[1]:0}}minutes and {{time?time[0]:0}} second to finish this test</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
    </div>
    <!-- End  modal -->
<!-- question section -->
<fieldset class="questions" [disabled]="finish" >
<!-- type question -->
<div *ngFor="let question of test?.questions;let i=index ">	

<div [ngSwitch]="question?.typequestion">
	<!-- question choose 1 -->
<div *ngSwitchCase=0>

   <div class="panel" [ngClass]="{ ' panel-info ':isUndefined(),' panel-danger ':(!isUndefined()&&!checkanswer(i)),'panel-success':(!isUndefined()&&checkanswer(i))}" >
  <div class="panel-heading">Question {{i}}</div>
  <div class="panel-body" style="text-align: center">{{question.question}}</div>
  <div class="panel">
  <div class="row">
  <!--answer  -->
  		<div *ngFor="let answer of question.answers ;let j=index ">

<div class="col-sm-6 col-md-6">
<!-- check  answer right or wrong -->
    <div class="radio " [ngClass]="{'green':(!isUndefined() && typeanswer(i,j)),'red':(!isUndefined() && !typeanswer(i,j)) }">
      <label><input type="radio" name="{{i}}" (click)="clickcheck(i,j)"><strong>{{answer}}</strong></label>
    </div>



  		</div>

  </div>
</div>

</div>
</div>
</div>
</div>
     </div>
     
	</fieldset>
  <button *ngIf="finish"  class="btn btn-warning btn-lg " (click)="goback()">Go back</button>

<button [disabled]="finish"  class="btn btn-success btn-lg pull-right" (click)="submit()">Submit</button>
     </div>






<!-- Timeout activity -->
<div class="col-xs-12 col-sm-12 col-md-4 ">

<div class="panel panel-warning">
    <div class="panel-heading" style="font-size: 40px; size: 100%">Couting down</div>
    <div class="panel-body">
        <div id="clock">
    <section class="timer">
      <div id="counter" class="text-center">{{time?time[2]:0}}:{{time?time[1]:0}}:{{time?time[0]:0}}</div>
      <p id="segment"></p>
    </section>
  </div>
    </div>
</div>







     </div>
     <!-- end row -->
     </div>
<!-- end container -->
     </div>

